.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: $secondaryColor;
  box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
  line-height: 25px;
  color: $tertiaryColor;
   
  font-size: 12px;
  &:hover {
    @include hover;
    color: $secondaryColor;
    font-size: 20px;
    line-height: 30px;
  }
}
