.top {
  position: relative;
  background: #2c3e50;
  height: 30vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  background-color: $whiteColor;
  padding: 40px;
  margin: 0px;
  border-bottom: solid black;
  border-width: 10px;
  &:hover {
    @include hover;
  }
}

.logo {
  width: 40%;
}

.title {  
  margin-top: 40px; 
}
 
.title img:hover {
  transition: 0.8s;
  transform: scale(1.3);
}
