@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

@import "./variables";
@import "./navbar";
@import "./main";
@import "./searcher";
@import "./footer";
@import "./responsive";

* {
  margin: 0;
  padding: 0;
  font-family: "Pokemon Solid", sans-serif;
  text-align: center;
  letter-spacing: 4px;
}

body {
  background-color: #ff0000;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
}

h1 {
  padding: 10px;
}

h2 {
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
@media only screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }
}
div {
  margin: 20px;
}
